%h1 Latest Activity
%table{class: 'table table-bordered table-striped'}
  %tr
    %th Project
    %th Status
    %th
    %th Build
  - @feeds.each do |project|
    %tr
      %td= project.name
      %td= (project.last_build.try(:state) || 'N/A').titleize
      %td= link_to 'Show', organization_project_path(OrganizationHelper.default_id, project.id)
      %td= link_to 'BUILD', enqueue_organization_project_builds_path(OrganizationHelper.default_id, project.id)
%br/
