<h1>Listing builds</h1>

<table>
  <tr>
    <th>State</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @builds.each do |build| %>
  <tr>
    <td><%= build.state %></td>
    <td><%= build.project_id %></td>
    <td><%= link_to 'Show', organization_project_build_path(organization_id: OrganizationHelper.default_id, project_id: build.project_id, id: build.id) %></td>
  </tr>
<% end %>
</table>

<br />
