<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @build.state %>
</p>

<p>
  <b>Project:</b>
  <%= @build.project_id %>
</p>

<%= link_to 'Back', organization_project_builds_path(organization_id: OrganizationHelper.default_id, project_id: @build.project_id) %>
