%h1 Editing project
= render 'form'
=# link_to 'Show', organization_project_path(organization_id: OrganizationHelper.default_id, project_id: @project.id)
|
\#{link_to 'Back', organization_projects_path(organization_id: OrganizationHelper.default_id)}